h1{
    color: blue;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
   
}

td{
    background-color: lightblue;
}

tr{
    border: 1px solid black;
    border-collapse: collapse;
}


